<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="space.js"></script>
    <script src="interface.js"></script>
    <title></title>
  </head>
  <body>
    <div class="header">
      <h1> Find Your Space </h1>
      <h2> with makers bnb </h2>
    </div>
    <div class="list">
      <h3>Spaces available to book right now</h3>
      <p id="1" ></p><input type="button" value="book now"/>
      <p id="2" ></p><input type="button" value="book now"/>
      <p id="3" ></p><input type="button" value="book now"/>
      <p id="4" ></p><input type="button" value="book now"/>
      <p id="5" ></p><input type="button" value="book now"/>
    </div>
  </body>
</html>
