<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/space.js"></script>
    <script src="js/booking.js"></script>
    <script src="js/user.js"></script>
    <script src="js/interface.js"></script>
    <title></title>
  </head>
  <body>
    <div class="header">
      <h1> Find Your Space </h1>
      <h2> with makers bnb </h2>
    </div>
    <div class="sign up">
      <form action="/sign-up">
        <input type="submit" value="Sign up">
      </form>
    </div>
    <div class="log in">
      <form action="/log-in">
        <input type="submit" value="Log in">
      </form>
      <!-- <p id="sign-in" ></p><input type="button" value="Sign in"/> -->
    </div>
    <div class="list">
      <h3>Spaces available to book right now</h3>
      <img src="http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/picturegalleries/The-worlds-ugliest-hotels/ugly-dog_2395817a-large.jpg">
      <p id="1" ></p><input type="button" value="more details"/><br>
      <img src="http://www.telegraph.co.uk/content/dam/Travel/galleries/travel/picturegalleries/The-worlds-ugliest-hotels/ugly-spiritslovaki_2395831a-large.jpg">
      <p id="2" ></p><input type="button" value="more details"/>

      <div>
        <form id="3" action="/property">
          <input type="submit" value="Try me!">
        </form>
      </div>

      <p id="4" ></p><input type="button" value="more details"/>
      <p id="5" ></p><input type="button" value="more details"/>
    </div>
  </body>
</html>
