<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="js/space.js"></script>
    <script src="js/booking.js"></script>
    <script src="js/user.js"></script>
    <script src="js/spaceUI.js"></script>
    <title>space</title>
  </head>
  <body>
    <div class="header">
      <h1> Look at this awesome property! </h1>
      <img src="http://previews.123rf.com/images/elvinphoto/elvinphoto0810/elvinphoto081000549/3757414-House-Kids-art-Child-s-drawing-with-crayons--Stock-Photo.jpg">
      <p>Name: &nbsp &nbsp<span class="spaceName"></span></p><br>
      <p>Address: &nbsp &nbsp<span class="address"></span></p><br>
      <p>Description: &nbsp &nbsp<span class="desc"></span></p><br>
      <p>Price per night: &nbsp &nbsp £<span class="price"></span></p><br>
    </div>

    <form action='/space' method="post" name="bookMe">
      <label for="from">From</label>
      <input type="text" id="bookMeFrom" name="from">
      <label for="to">to</label>
      <input type="text" id="bookMeTo" name="to">
      <input id="bookMe" type="submit" value="Book me!">
    </form>

    <form name="setAvailability" >
      <label for="from">From</label>
      <input type="text" id="avFrom" name="from">
      <label for="to">to</label>
      <input type="text" id="avTo" name="to">
      <input id="availMe" type="submit" value="Make available!">
    </form>
  </body>
</html>
