<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="js/space.js"></script>
    <script src="js/booking.js"></script>
    <script src="js/user.js"></script>
    <script src="js/bookingUI.js"></script>
    <title>Property</title>
  </head>
  <body>
    <div class="header">
      <h1> Look at this awesome property! </h1>
      <img src="http://previews.123rf.com/images/elvinphoto/elvinphoto0810/elvinphoto081000549/3757414-House-Kids-art-Child-s-drawing-with-crayons--Stock-Photo.jpg">
      <p>Name</p><br>
      <p>Address</p><br>
      <p>Description</p><br>
      <p>Price</p><br>
      <p>Owner</p><br>
    </div>

    <form name="bookMe" >
      <label for="from">From</label>
      <input type="text" id="from" name="from">
      <label for="to">to</label>
      <input type="text" id="to" name="to">
      <input id="bookMe" type="button" value="Book me!">
    </form>
  </body>
</html>
