<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="js/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="js/space.js"></script>
    <script src="js/booking.js"></script>
    <script src="js/user.js"></script>
    <script src="js/userUI.js"></script>
    <title>welcome</title>
  </head>
  <body>
    <h1>Your Trips</h1>

  </body>
</html>

<style>
body {
  background-image: url('https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Helvetica";
}
</style>
